<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ajout d'une ville</h1>

    <form action="POST" method="http://127.0.0.1:3000">
        <fieldset>
            <legend>Formulaire</legend>
            <div>
                <label for="city">Ville</label>
                <input type="text" id="city" name="city">
            </div>
            <input type="submit" value="Valider">
        </fieldset>
    </form>
</body>
</html>